.App {
  text-align: center;
}

button{
  background-color: brown;
  border-radius: 10px;
  color: white;
}
.App-link {
  color: #61dafb;
}

.row{
  display: flex;
}

.card{
  border: 2px solid;
  width: 200px;
  height: 200px;
  margin-left: 2px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
